html, body{
	/*Esse daqui já tira o padrão height auto
	(evitando assim um monte de confusão)*/
	height: 100%;
}

main{
	height: 100%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	font-family: verdana, arial, cursive;
	
	margin: 0;


}


.qgrande{
	/*O valor da largura não tirei 'detrás da orelha',
	calculei baseado na altura e largura do meu 
	notebook (que peguei com python) e refatorei para
	que ambos sejam aproximadamente do mesmo tamanho*/
	width: 30.92%;
	height: 55%;
	margin: 25%;
	margin-top: 12.5%;
	background-color: #00897B;
	display: flex;
	
	
}
.qpequeno{
	width: 30%;
	height: 40%;
	margin-top: 4px;
	margin-left: 4px;
	background-color: #AB47BC;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.circ{
	border-radius: 100%;
	width: 33%;
	height: 39%;
	margin-top: 45%;
	margin-left: 35%;
	background-color: #F9A825;
	display: flex;
	justify-content: center;
	align-items: center;
}